* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #FFFAF3;
    --color-n2: #fff2DB;
    --color-n3: #FFE5BF;
    --color-n4: #F62440;
}
body {
    display:grid;
    height: 100vh;
    grid-template: 80px 1fr 60px / 250px 1fr;
}
header {
    background-color: var(--main-color);
}
aside {
    display:flex;
    flex-direction: column;
    background-color: var(--color-n2);
    grid-area: 1/1/4/2;
}
main {
    background-color: var(--color-n3);
}
footer {
    background-color: var(--color-n4);
}


#stats-logout {
    display:flex;
    flex-direction: column;
    justify-self: flex-end;
}